<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>About Us</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/users">Users</a>
    </nav>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi quia aut reiciendis nam culpa, quam odit labore
        officiis ad provident quod placeat repellat numquam voluptates in, blanditiis totam cum! Ratione, cupiditate
        optio? Doloribus obcaecati fugit perspiciatis accusamus placeat laborum quaerat voluptatibus ratione hic aliquid
        quos, minima adipisci vel similique atque architecto, veniam provident aspernatur exercitationem libero
        explicabo? Autem fugiat alias corrupti recusandae quisquam odio beatae quaerat eius possimus, expedita delectus
        voluptatum porro? Nisi sint, voluptatibus dolore sequi inventore aliquam natus veniam ex. Molestias delectus
        repellendus iure consequuntur aperiam et autem facere eveniet adipisci asperiores? Repellat, ea nemo! Ea illo,
        sequi nulla blanditiis nisi ipsam minus delectus reiciendis doloribus quo numquam molestiae nobis commodi!
        Corrupti quo laboriosam odit delectus ipsa natus.
    </p>
</body>

</html>