<p>
    <strong>Name: </strong> {{formData.name}}
</p>
<p>
    <strong>Emal: </strong> {{formData.email}}
</p>
<p>
    <strong>Password: </strong> {{formData.password}}
</p>
<p>
    <strong>Address: </strong> {{formData.address}}
</p>